* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #06BBCC !important;
}

.primary-color {
    color: var(--primary-color) !important;

}

.background-primary {
    background-color: var(--primary-color) !important;
}
.light-dark{
    color: #52565b !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4fc0ca;
    --bs-btn-hover-border-color: #71bbc2;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #71bbc2;
    --bs-btn-active-border-color: #71bbc2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-color);
    --bs-btn-disabled-border-color: var(--primary-color);
}

a,
span {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

;

ul {
    list-style: none;
}
.top-line-first {
    width: 40px;
    height: 2px;
    background-color: var(--primary-color);
    
    margin-top: 5px;
}
.bottom-line-first {
    width: 60px;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: auto;
    
}
.top-line-last {
    width: 40px;
    height: 2px;
    background-color: var(--primary-color);
    align-items: flex-start;
    margin-top: 5px;
}
.bottom-line-last {
    width: 60px;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: auto;
    
}

.row {
    margin: 0;
    padding: 0;

}

.nav-join-div {
    background-color: blue;
    margin: 0;
    padding: 0 !important;
    width: 180px;
    height: 70px;


}

.nav-join-btn {
    padding: 25px 25px 25px 35px;
    border-radius: 0;
    margin: 0 !important;
}

.nav-item {
    color: black !important;

}

.nav-item:hover .nav-link {
    color: var(--primary-color);
}

.dropdown-item:hover {
    color: var(--primary-color);
}

/* hero section styling  */

.card-img-overlay {
    padding-top: 200px;
    padding-left: 100px;
    background: rgba(24, 29, 56, .7);
    ;
}

.container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

}


.display-1 {
    font-size: 70px !important;
}

h1 {
    font-family: "Nunito", sans-serif !important;
    ;
}

.card-title1 {
    color: #0dcaf0 !important;
}

.carousel-control-prev {
    display: block !important;
    left: auto !important;
    right: 0 !important;
    top: -100px !important;
}

.carousel-control-prev-icon {
    border: 1px solid white !important;
    padding: 20px !important;
    transition: all ease .3s !important;

}

.carousel-control-prev-icon:hover {
    background-color: #0dcaf0 !important;
    ;
}

.carousel-control-next-icon {
    border: 1px solid white !important;
    padding: 20px !important;
    transition: all ease .3s !important;
}

.carousel-control-next-icon:hover {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.carousel-control-next {
    display: block !important;
}

/* services section styling */
.services-cards {
    background-color: #f0fbfc;
    transition: all ease 0.5s;
}

.services-cards:hover {

    background-color: var(--primary-color);
    transform: translateY(-10px);

    h5 {
        color: white;
    }

    i {
        color: white !important;
    }

    p {
        color: white;
    }
}



/* start about section styling */
#about p{
    font-size: 17.7px !important;
}
.about-h{
    font-family: "Heebo",sans-serif !important;
    font-weight: 500;
}
.about-sec-btn{
    margin-top: 20px;
}